<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="divs.css">
    <title>Document</title>
</head>
<body>
    <div class="main-div">
        <div class="d1">
            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quis natus, soluta, voluptas iure neque nobis itaque beatae fugit dolor qui reiciendis odit ipsam dolorum eum nisi assumenda, tempora consectetur.</h4>
        </div>
        <div class="d1">
            <h4>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aspernatur fuga, repellendus dolores impedit animi magni! At nulla molestiae similique alias corrupti eligendi accusamus, obcaecati exercitationem.</h4>
        </div>
        <div class="d1">
            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est placeat consequatur perferendis, non ratione, quibusdam, eum totam ea iusto vero voluptates similique quisquam soluta nemo et saepe nam explicabo cum.</h4>
        </div>
        <div class="d1">
            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, harum? Cum repellat iure, earum possimus tempore eveniet unde maiores obcaecati temporibus provident mollitia voluptas reprehenderit nesciunt a, ipsam.</h4>
        </div>
        <div class="d1">
            <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt inventore fugit deserunt in. Amet possimus id adipisci ducimus ut veniam expedita dicta sed dolorem sequi iusto aliquam rem, voluptatum similique!</h4>
        </div>
    </div>
</body>
</html>