.nav1
{
    background-color: #23608C;
}
.nav2
{
   color: black;
}
.hero
{
    
    background-color: #F7F7F7;
     box-shadow: inset 0 8px 15px rgba(0, 0, 0, 0.1); /* Inner Top Shadow */
     
}
.a1{
    color: black;
}
.a2{
    color: red;
}
ion-icon {
  font-size: 30px;
  color: orange;
}
.col-3
{
    width: 320px;
    height: 220px;
    border-radius: 10px;
    box-shadow: 0px 3px 6px #32323229;
  
}
img{
    width: 40px;
    height: 40px;
}
.next1
{
      background-color: #F7F7F7;
      margin-top: 120px;
      padding: 50px;
      height: 450px;
}
.div1
{
    width: 250px; 
    height: 350px;
    background-color: #0000007D;
    border-radius: 10px;
    margin-left: 10%;

}
.div2
{
    width: 140px; 
    height: 190px;
    background-color:#D9D9D9;
    border-radius: 15px;
    margin-top: 160px;

}
.div3
{
    margin-left: 10%;
}


