<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

<style>
body {background-color: rgb(177, 218, 223);}
h1   {color: rgb(7, 87, 98); }
p    {font-size: 20px;}
</style>
</head>
<body>
  
    <h1>Registration form</h1>
    <p>Fill this form to get addmission in university</p>
    <form>
      <label for="fname" style="font-size:18px; font-weight:bold; color:black;">Name</label><br>
      <input type="text" id="fname" class="fname" style="width:200px; height:25px;">
      <br><br>
      <label for="lname" style="font-size:18px; font-weight:bold; color:black;" >Last Name</label><br>
      <input type="text" id="lname" class="lname" style="width:200px; height:25px;">
      <br><br>
       <label for="email" style="font-size:18px; font-weight:bold; color:black;" >Email</label><br>
      <input type="text" id="email" class="email" style="width:200px; height:25px";>
      <br><br>
      <label for="age" style="font-size:18px; font-weight:bold; color:black;">Age</label><br>
      <input type="text" id="age" class="age" style="width:200px; height:25px;">
      <h3>Gender:</h3>
      <input type="radio" id="rad">
      <label for="male">Male</label>
      <input type="radio" id="rad">
      <label for="female">Female</label>
      <h3>Choose Subject</h3>
      <input type="checkbox" id="check">
      <label for="data">Data sturcture and algorithms</label><br>
      <input type="checkbox" id="check">
      <label for="program">Programming fundamentals</label><br>
      <input type="checkbox" id="check">
      <label for="manage">Management</label><br>
      <input type="checkbox" id="check">
      <label for="software">Software enginering</label><br>
</form>
   
  
</body>
</html> 