/* .carousel-item
{
  height: 32rem;
  background-color: #777;
  background-position: center;
  background-size: cover;
} */

.col:hover {

  transition: background-color 1s ease-out, transform 1s ease-out;
  transform: scale(1.02);

}
.perfume-img {
    width: 220px;       
    height: 200px;
    object-fit: cover;   /* image ko crop nahi hone deta */
    border-radius: 50%; 
    
  }
@media (max-width: 576px)
{
    .perfume-img {
      width: 90px;       
      height: 90px;
    }

  }

@media (max-width: 768px) 
{
    .perfume-img {
      width: 120px;     
      height: 120px;
    }
  }