/* .carousel-item
{
  height: 32rem;
  background-color: #777;
  background-position: center;
  background-size: cover;
} */

.col:hover {

  transition: background-color 1s ease-out, transform 1s ease-out;
  transform: scale(1.02);

}
.perfume-img {
  width: 180px;      
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 576px)
{
    .perfume-img {
      width: 90px;       
      height: 90px;
    }

  }
@media (min-width: 577px) and (max-width: 991px) {
  .perfume-img {
    width: 130px;
    height: 130px;
  }
}

